@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --backgroundPrimary: #0E1116;
  --colorText: #FFFFFF;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: var(--colorText);
  background: var(--backgroundPrimary);
  font-size: 0.875rem;
  line-height: 160%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
