@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --backgroundPrimary: #0E1116;
  --colorText: #FFFFFF;
  --background-rgba: rgba(42,40,121,0.6);
}

body {
  color: var(--colorText);
  background: var(--backgroundPrimary);
  font-size: 0.875rem;
  line-height: 160%;
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
